/* .login{
  
} */
.background{
    background-image: url("https://thumbs.dreamstime.com/b/d-man-working-office-render-50593063.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}